/* Color Palette */

/* background-color: #282c34; */
/* section-color: #4D495C; */
/* sub-section-color: #6B667B; */
/* highlight color: #ffb560 */
/* error color: red */


/* ======================
   GLOBAL STYLES 
   ====================== */

body {
  background-color: #2D2D2D;
  color: #EDEDED;
  font-family: 'Montserrat', sans-serif;
}

/* ======================
   APP SPECIFIC STYLES 
   ====================== */

.App {
  text-align: center;
}

.Sec {
  background-color: #4D495C;
  width: 50%;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.title {
  font-family: 'ExtraBold', sans-serif;
}

.error-message {
  color: red;
}

/* Main Elements */
button {
  background-color: #EDEDED;
  border: none;
  padding: 10px 20px;
  margin: 10px 10px;
  cursor: pointer;
  color: #2D2D2D;
  transition: background-color 0.3s;
  font-family: 'Bold', sans-serif;
}

.main-button:hover {
  background-color: #ffb560;
}

button:focus {
  outline: none;
}

.custom-hr {
  border: 0;
  border-top: 2px solid #ccc;
  margin: 20px auto 20px;
  width: 90%;
}

input {
  background-color: #EDEDED;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #2D2D2D;
  transition: background-color 0.3s;
  font-family: 'Bold', sans-serif;
}

.query-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

/* Popup Styles */
.popup-button {
  background: none;
  border: none;
  color: #EDEDED;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 10px;
}

.popup-button:hover {
  color: #ffb560;
}

.close-button {
  background: none;
  border: none;
  color: #2D2D2D;
  position: left;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-button:hover {
  color: #ffb560;
}

.disclaimer-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(150%, -70%);
  background-color: #EDEDED;
  color: #2D2D2D;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  z-index: 10;  /* Ensure it's on top */
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.method-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(115%, -50%);
  background-color: #EDEDED;
  color: #2D2D2D;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  z-index: 10;  /* Ensure it's on top */
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Numbered List Styles and Animation */

.numbered-list {
  text-align: center;
  list-style: none;
  background-color: #6B667B;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
  margin: 10px 0;
  counter-reset: li;
}

.numbered-list li {
  position: relative;
  padding-top: 50px;
  margin-bottom: 20px;
  transition: transform 0.3s, font-weight 0.3s;
}

.numbered-list li:hover {
  transform: scale(1.02);
  font-weight: bold;
}

.numbered-list li::before {
  content: counter(li); /* Use CSS counters for the number */
  counter-increment: li; /* Increment the counter */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background-color: #4D495C;
  color: #ffb560;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: 'Bold', sans-serif;
  transition: transform 0.3s;
}

.numbered-list li:hover::before {
  transform: rotate(30deg) translateX(-50%);
}

/* GPT Styles */

.gpt-response {
  max-width: 48%;
  color: #ffb560;
  margin: 0 auto;
  word-wrap: break-word;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
}

#gptQueryInput {
  padding: 10px;
  width: 300px;
}

.gpt-examples-list {
  list-style-type: disc;
  text-align: left;
  padding-left: 20px;
  margin-top: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.gpt-examples-list li {
  margin-bottom: 5px;
}

/* Stock Selection Styles */

#stockInput {
  padding: 10px;
  width: 150px;
}

.stock-container {
  max-width: 80%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  background-color: #6B667B;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.stock-box {
  background-color: #EDEDED;
  color: #2D2D2D;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-family: 'Bold', sans-serif;
}

.stock-box:hover {
  transform: scale(1.1);
}

.stock-box.selected {
  background-color: #ffb560;
  color: white;
}

/* Risk Slider Styles */

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.risk-title {
  margin-top: 5px;
  margin-bottom: 0px;
}

.risk-label {
  font-size: 0.8rem;
}

#riskDisplay {
  margin-top: 0px;
}


/* Date Container Styles */

.date-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.date-container p {
  margin-right: 10px;
}

/* Frontier Container */

.recharts-legend-item {
  margin-bottom: 10px;
}

.recharts-legend-item:hover {
  transform: scale(1.1);
}

/* Pie Chart Container */

.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend-item:hover {
  transform: scale(1.1);
}

.color-box {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.pie-chart-wrapper {
  position: relative;
  display: inline-block;
}

.pie-chart-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  z-index: 2;
  pointer-events: none;
}

.pie-chart-wrapper:hover .recharts-wrapper {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.pie-chart-title {
  text-align: center;
  font-weight: regular;
  margin-bottom: 10px;
  color: #EDEDED;
}

/* Stock/Portfolio Table Container */

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.portfolio-table-container {
  margin-top: 0px;
  margin-bottom: 20px;
  overflow-x: auto; /* For horizontal scrolling on smaller screens */
}

.portfolio-table {
  width: 100%;
  border-collapse: collapse;
}

.portfolio-table th, .portfolio-table td {
  border: 1px solid #EDEDED;
  padding: 8px 12px;
  text-align: left;
}

.portfolio-table th {
  background-color: #282c34;
  color: #EDEDED;
}

.portfolio-table tbody tr:nth-child(even) {
  background-color: #3D3D3D;
}

.portfolio-table tbody tr:hover {
  background-color: #ffb560;
}

.portfolio-table tbody tr:hover td {
  color: #2D2D2D;
}

/* Investment Plan Styles */



/* ======================
   ANIMATIONS 
   ====================== */

@keyframes App-logo-spin {
  0%, 100% { transform: rotate(5deg); }
  50% { transform: rotate(35deg); }
  100% { transform: rotate(5deg); }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin 5s ease-in-out infinite;
  }
}

@keyframes loadingAnimation {
  0%, 100% { content: "Loading ."; }
  33% { content: "Loading .."; }
  66% { content: "Loading ..."; }
}

.loading-text::after {
  content: "Loading .";
  animation: loadingAnimation 1.5s infinite;
}

/* ======================
   FONT-FACE DEFINITIONS 
   ====================== */

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bold';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ExtraBold';
  src: url('./fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}